<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">Who I Am</a></li>
                    <li><a href="/math">Math I Like</a></li>
	        		<li><a href="/projects">Things I've Done</a></li>
	        		<li><a href="/test">Test</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		
	        		<li><a href="https://github.com/RRavier">M</a></li>
				</ul>
			</footer>
		</body>
	</html>
